<div class="side-nav-menu">
    <a href="#dashboard" class="active">
        <div class="nav-item">
            <fa-icon class="icon" [icon]="faHouse"></fa-icon>
            <p>Dashboard</p>
        </div>
    </a>

    <a href="#documents">
        <div class="nav-item">
            <fa-icon class="icon" [icon]="faAlignLeft"></fa-icon>
            <p>Documents</p>
        </div>
    </a>

    <a href="#payments">
        <div class="nav-item">
            <fa-icon class="icon" [icon]="faCreditCard"></fa-icon>
            <p>Payments</p>
        </div>
    </a>

    <a href="#calendar">
        <div class="nav-item">
            <fa-icon class="icon" [icon]="faCalendar"></fa-icon>
            <p>Calendar</p>
        </div>
    </a>

    <a href="#profile">
        <div class="nav-item">
            <fa-icon class="icon" [icon]="faUser"></fa-icon>
            <p>Profile</p>
        </div>
    </a>

    <hr>

    <a href="#profile">
        <div class="nav-item">
            <fa-icon class="icon" [icon]="faToggleOff"></fa-icon>
            <p>Dark mode</p>
        </div>
    </a>

    <a href="#profile">
        <div class="nav-item">
            <fa-icon class="icon" [icon]="faGear"></fa-icon>
            <p>Settings</p>
        </div>
    </a>

    <a href="#profile" class="logout">
        <div class="nav-item">
            <fa-icon class="icon" [icon]="faArrowRightFromBracket"></fa-icon>
            <p>Logout</p>
        </div>
    </a>
</div>