<div class="profile-container">
  <div class="profile">
    <div class="profile-details">
      <img src="https://media.licdn.com/dms/image/C4D03AQHMB5yZ2bw39A/profile-displayphoto-shrink_800_800/0/1596718276266?e=1688601600&v=beta&t=FcyUDume0dR2r0hZJvu_V5OgwZnZynq9jRLaap_r1CE" alt="">
      <p class="profile-name">Jakub Kozak</p>
      <p class="profile-description">Frontend developer</p>
    </div>
    <div class="profile-buttons-container">
      <div class="profile-button">
        <fa-icon [icon] = faPeopleGroup></fa-icon>
      </div>
      <div class="profile-button">
        <fa-icon [icon]="faChartLine"></fa-icon>
      </div>
      <div class="profile-button">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
      </div>
    </div>
    <hr class="horizontal-line">
    <div class="about-section">
      <p>About</p>
      <p class="description">Organized activities to make money and sell goods and services for a profit</p>
    </div>
    <div class="friends-container">
      <div class="friend">
        <img class="friend-avatar" src="https://media.licdn.com/dms/image/C4D03AQGdSNpwMn-niw/profile-displayphoto-shrink_800_800/0/1601174044171?e=1688601600&v=beta&t=6HX-DA9Fr7h-zO6nM8n_c5EODBbp_qEWv8ivJP1oT_Q" alt="">
        <div class="friend-details">
          <p>Bartosz Kawałkiewicz</p>
          <p>Mid Angular Developer</p>
        </div>
      </div>
      <div class="friend">
        <img class="friend-avatar" src="https://media.licdn.com/dms/image/C4D03AQFsFmwS0jRO9w/profile-displayphoto-shrink_800_800/0/1658870426209?e=1688601600&v=beta&t=wzbECk-eFCNaop65dD2Tf3s9W3lZQYBD4GQRq3pGqog" alt="">
        <div class="friend-details">
          <p>Bartosz Kawałkiewicz</p>
          <p>Junior Software Developer</p>
        </div>
      </div>
      <div class="friend">
        <img class="friend-avatar" src="https://media.licdn.com/dms/image/C4E03AQGLxHZbsG-AnA/profile-displayphoto-shrink_800_800/0/1653061026502?e=1688601600&v=beta&t=DXRPGvpigm7yaNvP5yzKqT2LVetM52rtY3BxPDCKMpI" alt="">
        <div class="friend-details">
          <p>Krzysztof Mulawa</p>
          <p>Junior .NET Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
