body {
    background-color: yellow;
    font-family: "Roboto", serif;
}

.dashboard-container {
  background-color: #0E131A;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 100%;
  padding: 32px 0;
  display: grid;
  grid-template-columns: 0.3fr repeat(5, 1fr) repeat(2, 0.85fr) 0.3fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". nav header header header header profile profile ."
    ". nav total-finance total-finance total-expanse total-expanse profile profile ."
    ". nav line-graph line-graph circle-graph circle-graph profile profile ."
    ". upgrade project project project project profile profile .";
}
